@model Web.ViewModels.SlotCatalogViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<!-- display filters -->
<div class="container">
    @if (Model.Slots.Any())
    {
        foreach (var slot in Model.Slots)
        {
            <div class="container__item col-lg-4">
                <img src="img/broken-glass-icon.jpg" alt="item image"/>
                <div class="item__title">
                    <p>@slot.Title</p>
                </div>
                <div class="item__description">
                    <p>@slot.Description</p>
                </div>
                <div class="item__price">
                    <p>@slot.StartPrice.ToString("C")</p>
                </div>
            </div>
        }
        // display pagination
    }
</div>