@model WebApi.ViewModels.Auction.AuctionViewModel

@{
    ViewBag.Title = "Create auction";
}

<link rel="stylesheet" href="~/css/auction-form.css">

<div class="form-wrapper">
    <h1 class="section-title">Create New Auction</h1>
    <p class="section-main">At this page you can create a new auction</p>
    <form asp-action="Create" method="post" class="form">
        <div class="form__element form__title">
            <label for="title" class="clickable-label">Title</label>
            <input asp-for="Title" type="text" id="title" class="title__input">
        </div>
        <div class="form__element form__startDate">
            <label for="startDate" class="clickable-label">Starts on</label>
            <input asp-for="Start" type="date" id="startDate">
        </div>
        <div class="form__element form__endDate">
            <label for="endDate" class="clickable-label">Ends on</label>
            <input asp-for="End" type="date" id="endDate">
        </div>
        <div class="form__element form__slotlist slotlist">
            <span>Slotlist</span>
            <div class="slotlist__btn-wrapper">
                <input type="button" value="choose" class="slotlist__btn">
                <input type="button" value="new" class="slotlist__btn">
            </div>
            <div class="slotlist__table-wrapper">
                <partial name="_SlotList" for="Slots"/>
            </div> <!-- append table here -->
        </div>
        <input type="submit" value="submit" class="form__element submit-btn">
    </form>
</div>
