@model IEnumerable<WebApi.ViewModels.Slot.SlotViewModel>

<table class="form__element table">
    <thead>
        <tr>#</tr>
        <tr>Title</tr>
        <tr>StartPrice</tr>
        <tr>Add?</tr>
    </thead>
    <tbody>
    @{
        int i = 0;
        foreach (var slot in Model)
        {
            <tr>@{++i}</tr>
            <tr>@slot.Title</tr>
            <tr>@slot.StartPrice</tr>
            <tr>
                <input type="checkbox" asp-for="@slot.ItemChosen"/>
            </tr>
        }
    }
    </tbody>
    <tfoot>
        <tr></tr>
        <tr></tr>
        <tr class="table__total-price"></tr>
        <tr></tr>
    </tfoot>
</table>